.form-container {
    display: flex;
    align-items: center;
    color: #cacbc2;
  }
  
  .input-field {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  




  .chat-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .bot-image {
    width: 240px; 
    height: auto; 
    margin-right: 1px;
  }
  
  .chat-container{
    background: #000;;
  }
  

  header {
    text-align: center; /* Center the text */
    color: #39ffb3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0;
  }
  

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color:#f9f9f9
}


.form-container {
  padding: 20px;
}


.submit-btn {
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -18px;
}

.submit-btn:hover svg path {
  fill : red;
  background-color: white;
}
.submit-btn:hover{
  background-color: white;
}

.error {
  color: red;
  margin-top: 10px;
}

.response {
  margin-top: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
